* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 1vmin);
}

.App {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  margin: 0 auto;
  width: 500px;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 0.9rem;
}

.ok {
  width: 90px;
  height: 40px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #fff;
}

label {
  display: block;
  margin-right: 10px;
  width: 180px;
  text-align: start;
}

.inputPlace {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
}

.mainList {
  position: relative;
  transition: 0.4s;
  min-height: 1.5rem;
  margin: 1rem 2rem;
}

.watchPlace {
  width: 87%;
  height: auto;
  text-align: center;
}

.btns {
  width: 100%;
  height: 1.5rem;
  text-align: right;
}

.delete {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.icon {
  display: inline;
  height: 70%;
  text-align: center;
}

.watchesStore {
  margin-bottom: 30px;
  font-size: 1rem;
  border: none;
  padding: 20px 0;
}

.mylist {
  display: flex;
  width: 900px;
  padding: 0;
  margin: 5px 20px;
  list-style: none;
  justify-content: center;
}

.clock {
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 50%;
  border: black 1px solid;
}

.hours, .minutes, .seconds {
  position: absolute;
  width: 5px;
  height: 30px;
  left: calc(50% - 2.5px);
  top: 25px;
  background-color: black;
  border-radius: 2.5px;
  transform-origin: center calc(100% - 2px);
}

.minutes {
  height: 45px;
  width: 3px;
  top: 10px;
}

.seconds {
  height: 50px;
  width: 1px;
  top: 5px;
  background-color: red;
}